{% extends 'base.html.twig' %}

{% block body %}
    <table>
    {%for r in tabel %}
        <tr>
            {%for c in r%}
                <td>{{c}}</td>
            {%endfor%}
        </tr>
    {%endfor%}
    </table>
{% endblock %}
